<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title%></title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
    <header id="header">
        <img id="logo-header" src="/mediafiles/facebook_cover_photo_2.jpg">
    </header>
    <main>
        <li id="li1_home">
            <a href="/ide" style="text-decoration: none;color:orange;">
                <span>USE THE IDE FOR PRACTICE</span>
            </a>
        </li>
        <li id="li2_home">
            <a href="/accountsetup" style="text-decoration: none; color: orange;">
                <span>HOW ABOUT AN ACCOUNT</span>
            </a>
        </li>
        <br>
        <li  id="li3_home">
            <a href="/Create-contribution" style="text-decoration: none;color:orange;">
                <span>CONTRIBUTE TO HELP OTHERS</span>
            </a>
        </li>
        <li id="li4_home">
            <a href="/learn" style="text-decoration: none; color: orange;">
                <span>LEARN A NEW CONCEPT</span>
            </a>
        </li>
    </main>
    <footer>
    
    </footer>    
</body>
</html>