<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title%></title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
    <header id="header">
        <a href="/">
        <img id="logo-header" src="/mediafiles/facebook_cover_photo_2.jpg" style="height: 20rem;">
        </a>
    </header>
    <main>
        <li id="li1_home">
            <a href="/loginwithus" style="text-decoration: none;color:orange;">
                <span>HAVE OUR ACCOUNT?</span>
            </a>
        </li>
        <li id="li2_home">
            <a href="/login/oauth/google/" style="text-decoration: none; color: orange;">
                <span style="background-color: white; color: orange;">SIGN IN USING GOOGLE</span>
            </a>
        </li>
        <br>
        <li id="li3_home">
            <a href="/auth/facebook" style="text-decoration: none; color: orange;">
                <span style="background: white; color: blue;">SIGN IN USING FACEBOOK</span>
            </a>
        </li>
        <li id="li4_home">
            <a href="/login/auth/github" style="text-decoration: none; color: orange;">
                <span style="background: black; color: white;">SIGN IN USING GITHUB</span>
            </a>
        </li>
        </main>
    <footer>
    
    </footer>    
</body>
</html>