<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="color: orange;">
    <h1>Create a new topic</h1>
    <form method="POST" action="/createconcept">
        <input name="name" type="text" required placeholder="name">
        <textarea name="matter"></textarea>
        <input name="image_link" type="text" placeholder="link1">
        <input name="ytvidlink" type="text" placeholder="link2">
        <input type="submit">
    </form>
</body>
</html>